#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem;
  text-align: center; */
}

.read-the-docs {
  color: #888;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
